{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Add Allocation Attribute
{% endblock %}


{% block content %}
<h1>
  Adding allocation attribute to {{allocation.get_parent_resource}} for PI {{ allocation.project.pi.first_name }}
  {{ allocation.project.pi.last_name }} ({{ allocation.project.pi.username }})
</h1>

<form method="post">
  {% csrf_token %}
  {{form |crispy}}
  <button type="submit" class="btn btn-success">Add</button>
  <a class="btn btn-secondary" href="{% url 'allocation-detail' allocation.pk %}">Back to Allocation</a>
</form>
{% endblock %}
