{% for project in projects %}
  <div class="card mb-3">
    <div class="card-header">
      <strong>{{ project.title }}</strong>
      <a title="Details" href="{% url 'project-detail' project.pk %}" target="_blank">
        <i class="far fa-folder-open" aria-hidden="true"></i><span class="sr-only">Project Details</span>
      </a>
    </div>
    <div class="card-body">
      {{ project.description }}
    </div>
    <div class="card-footer">
      <strong>Status:</strong>
      {% if project.status.name == "Active" %}
        <span class="text-success">
          {{ project.status }}
        </span>
      {% else %}
        <span class="text-primary">
          {{ project.status }}
        </span>
      {% endif %}
    </div>
  </div>
{% endfor %}
