{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project Review List
{% endblock %}


{% block content %}
<h1>Pending Projects</h1>
<hr>
<h2>Pending Project Requests</h2>
{% if project_requests %}
  <div class="table-responsive">
    <table id="project_request_table" class="table table-sm">
      <caption class="sr-only">Project requests</caption>
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">PI</th>
          <th scope="col">Requestor</th>
          <th scope="col">Type</th>
          <th scope="col">Contacted</th>
          <th scope="col" class="nosort">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_request in project_requests %}
          <tr>
            <td><a target="_target" href="{% url 'project-detail' project_request.info.pk %}">{{ project_request.info.title|truncatechars:50 }}</a></td>
            <td>{{ project_request.info.created|date:"M. d, Y" }}</td>
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#id_pi_projects_modal"
                data-pi="{{project_request.pi.username}}"
                data-pk="{{project_request.pk}}"
              >
                {{ project_request.info.pi.first_name }} {{project_request.info.pi.last_name}} ({{ project_request.info.pi.username }})
              </a>
            </td>
            <td>{{ project_request.info.requestor.first_name }} {{ project_request.info.requestor.last_name }} ({{ project_request.info.requestor.username }})</td>
            <td>{{ project_request.info.type.name }}</td>
            {% if project_request.info.status.name == 'Contacted By Admin' %}
              <td>
                <span
                  data-toggle="popover"
                  title="Contacted"
                  data-trigger="hover"
                  data-content="Contacted by {{ project_request.contacted_by }}"
                  class="badge badge-success"
                  aria-label="Contacted by {{ project_request.contacted_by }}"
                >
                  <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
                </span>
              </td>
            {% else %}
              <td></td>
            {% endif %}
            <td class="no-textwrap" style="white-space: nowrap;">
              <a href="{% url 'project-activate-request' project_request.info.pk %}" class="btn btn-success mr-1">Activate</a>
              <a href="{% url 'project-deny-request' project_request.info.pk %}" class="btn btn-danger mr-1">Deny</a>
              {% if EMAIL_ENABLED %}
                <a href="{% url 'project-request-email' project_request.info.pk %}" class="btn btn-primary mr-1">Email</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info" role="alert">
    No pending project requests!
  </div>
{% endif %}

<h2>Pending Project Renewals</h2>
{% if project_reviews %}
  <div class="table-responsive">
    <table id="project_review_table" class="table table-sm">
      <caption class="sr-only">Project reviews</caption>
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">Expires On</th>
          <th scope="col">PI</th>
          <th scope="col">Contacted</th>
          <th scope="col">Contacted By</th>
          <th scope="col" class="nosort">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_review in project_reviews %}
          <tr>
            <td><a target="_blank" href="{% url 'project-detail' project_review.info.project.pk %}">{{ project_review.info.project.title|truncatechars:50 }}</a></td>
            <td>{{ project_review.info.created|date:"M. d, Y" }}</td>
            <td>{{ project_review.info.project.end_date|date:"M. d, Y" }}</td>
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#id_pi_projects_modal"
                data-pi="{{project_review.info.project.pi.username}}"
                data-pk="{{project_review.info.project.pk}}"
                data-eligible="{{pi_eligibilities|get_value_from_dict:project_review.info.project.pi.username}}"
                aria-labelledby="id_pi_projects_modal_label"
              >
                {{ project_review.info.project.pi.first_name }} {{ project_review.info.project.pi.last_name }} ({{ project_review.info.project.pi.username }})
              </a>
              {% if not pi_eligibilities|get_value_from_dict:project_review.info.project.pi.username %}
                <span
                  data-toggle="popover"
                  title="Not Eligible"
                  data-trigger="hover"
                  data-content="This user is not eligible to be a PI!"
                  class="badge badge-danger"
                  aria-label="User {{project_review.info.project.pi.username}} is not eligible to be a PI!"
                >
                  <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              {% endif %}
            </td>
            {% if project_review.info.status.name == 'Contacted By Admin' %}
              <td>
                <span
                  data-toggle="popover"
                  title="Contacted"
                  data-trigger="hover"
                  data-content="Contacted by {{ project_review.contacted_by }}"
                  class="badge badge-success"
                  aria-label="Contacted by {{ project_review.contacted_by }}"
                >
                  <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
                </span>
              </td>
              <td>{{ project_review.contacted_by }}</td>
            {% else %}
              {% if contacted_pis|get_value_from_dict:project_review.info.project.pi.username %}
                <td>
                  <span
                    data-toggle="popover"
                    title="PI Already Contacted"
                    data-trigger="hover"
                    data-content="PI already contacted"
                    class="badge badge-warning"
                    aria-label="PI already contacted"
                  >
                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                  </span>
                </td>
              {% else %}
                <td></td>
              {% endif %}
              <td></td>
            {% endif %}
            <td class="text-nowrap">
              <a href="{% url 'project-review-approve' project_review.info.pk %}" class="btn btn-success mr-1">Approve</a>
              <a href="{% url 'project-review-deny' project_review.info.pk %}" class="btn btn-danger mr-1">Deny</a>
              <a href="{% url 'project-review-info' project_review.info.pk %}" class="btn btn-primary mr-1">Info</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info" role="alert">
    No pending project reviews!
  </div>
{% endif %}

<div id="id_pi_projects_modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="id_pi_projects_modal_label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="id_pi_projects_modal_label" style="display: flex; align-items: center; gap: 10px;">
          PI Projects
          <span
            id="id_project_count"
            title="Projects"
            style="border-top-right-radius: 0px; border-bottom-left-radius: 0px; top: 0; left: 0; font-size: 0.5em;"
            class="badge badge-secondary position-absolute"
          >
          </span>
          <span
            style="font-size: 0.6em;"
            id="id_ineligible_modal"
            class="badge badge-danger"
            data-toggle="popover"
            title="Not Eligible"
            data-trigger="hover"
            data-content="This user is not eligible to be a PI!"
          >
            <i class="fas fa-exclamation-circle"></i>
          </span>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{{ pi_projects|json_script:"pi_projects" }}

<script>
  var pi_projects = JSON.parse(document.getElementById('pi_projects').textContent);

  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-director").addClass("active");
  $("#navbar-project-reviews").addClass("active");

  $('[data-toggle="popover"]').popover({ trigger: 'hover focus' });

  $('#id_pi_projects_modal').on('show.bs.modal', function (event) {
    $('#id_pi_projects_modal .modal-body').html('')
    var link = $(event.relatedTarget);
    var pi = link.data('pi');
    var pk = link.data('pk');
    var eligible = link.data('eligible');
    if (eligible === 'False') {
      $('#id_ineligible_modal').show();
    } else {
      $('#id_ineligible_modal').hide();
    }
    var modal = $(this);
    let project_count = 0;
    for (let i = 0; i < pi_projects.length; i++) {
      project = pi_projects[i]
      if (project.pi === pi) {
        project_count++;
        $('#id_pi_projects_modal .modal-body').append(
        `<div class="card mb-3">\
          <div class="card-header">\
            <strong>${project.title}</strong>\
            <a title="Details" href="/project/${project.pk}" target="_blank">\
              <i class="far fa-folder-open" aria-hidden="true"></i><span class="sr-only">Details</span>\
            </a>\
          </div>\
          <div class="card-body">\
            ${project.description}\
          </div>\
          <div class="card-footer">
            <strong>Status:</strong> ${project.status}
          </div>
        </div>`
      );
      }
    }
    $('#id_project_count').text(project_count)
  })

  $(document).ready(function() {
    $("#project_request_table").DataTable({
      iDisplayLength: 15,
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }]
    });

    $("#project_review_table").DataTable({
      iDisplayLength: 15,
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }]
    });
  })
</script>
{% endblock %}
