{% load common_tags %}

<li id="navbar-admin" class="nav-item dropdown">
  <a
    id="navbarAdminDropdownMenuLink"
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="admin-submenu"
    title="Admin menu"
  >Admin</a>
  <ul
    id="admin-submenu"
    class="dropdown-menu"
    role="menu"
    aria-labelledby="navbarAdminDropdownMenuLink"
  >
    <li><a class="dropdown-item" href="/admin" role="menuitem">RT Projects Administration</a></li>
    <li><a id="navbar-user-search" class="dropdown-item" href="{% url 'user-search-home' %}" role="menuitem">User Search</a></li>
    <li class="dropdown-submenu">
      <a
        id="navbarProjectsToggle"
        class="dropdown-item dropdown-toggle"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-controls="projects-submenu"
        aria-expanded="false"
        title="Projects submenu"
      >Projects</a>
      <ul id="projects-submenu" class="dropdown-menu" role="menu" aria-labelledby="navbarProjectsToggle">
        <li><a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on" role="menuitem">All Projects</a></li>
        <li>
          <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}" role="menuitem">
            Project Reviews/Requests
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a
        id="navbarAllocationsToggle"
        class="dropdown-item dropdown-toggle"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-controls="allocations-submenu"
        aria-expanded="false"
        title="Allocations submenu"
      >Allocations</a>
      <ul id="allocations-submenu" class="dropdown-menu" role="menu" aria-labelledby="navbarAllocationsToggle">
        <li><a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on" role="menuitem">All Allocations</a></li>
        <li>
          <a id="navbar-allocation-requests" class="dropdown-item" href="{% url 'allocation-request-list' %}" role="menuitem">
            Allocation Requests
          </a>
        </li>
        {% if 'allocation_removal_requests/navbar_allocation_removal_requests.html'|template_exists %}
          <li>{% include 'allocation_removal_requests/navbar_allocation_removal_requests.html' %}</li>
        {% endif %}
        <li>
          <a id="navbar-allocation-change-request" class="dropdown-item" href="{% url 'allocation-change-list' %}" role="menuitem">
            Allocation Change Requests
          </a>
        </li>
      </ul>
    </li>
    <li><a class="dropdown-item" href="{% url 'resource-list' %}" role="menuitem">All Resources</a></li>
    {% if 'advanced_search/navbar_advanced_search.html'|template_exists %}
      <li>{% include 'advanced_search/navbar_advanced_search.html' %}</li>
    {% endif %}
    {% if settings.GRANT_ENABLE %}
      <li><a id="navbar-grant-report" class="dropdown-item" href="{% url 'grant-report' %}" role="menuitem">Grant Report</a></li>
    {% endif %}
    {% if 'request_forms/software_request.html'|template_exists %}
      <li class="dropdown-submenu">
        <a
          id="navbarFormsToggle"
          class="dropdown-item dropdown-toggle"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-controls="forms-submenu"
          aria-expanded="false"
          title="Additional Forms submenu"
        >Additional Forms</a>
        <ul id="forms-submenu" class="dropdown-menu" role="menu" aria-labelledby="navbarFormsToggle">
          <li>{% include 'request_forms/navbar_software_request.html' %}</li>
          <li>{% include 'request_forms/navbar_stats_request.html' %}</li>
        </ul>
      </li>
    {% endif %}
  </ul>
</li>
