{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %}
{% load humanize %}


{% block title %}
Center Summary
{% endblock %}


{% block content %}
<h1 class="visually-hidden">{% settings_value 'CENTER_NAME' %} Overview</h1> 
<hr>

<!-- Start Tableau Dashboards -->
<h2 class="visually-hidden">HPC Overview</h2>
<script type='text/javascript' src='https://tableau.bi.iu.edu/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 80%; height: 1527px;'>
  <object class='tableauViz' width='100%' height='1100' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Ftableau.bi.iu.edu%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='&#47;t&#47;prd' />
    <param name='name' value='ColdFrontSheets&#47;Dashboard1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='showAppBanner' value='false' />
  </object>
</div>
<!-- End Tableau Dashboards -->

<!-- Start Publications -->
{% if settings.PUBLICATION_ENABLE %}
<!-- Start  Publications -->
<h2 class="visually-hidden">Publications Overview</h2>
<div class="card mt-3 mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-newspaper" aria-hidden="true"></i> User Entered Publications
  </div>
  <div class="card-body">
    <div class="chart-container">
        <canvas id="pubs-by-year-chart" data-url="{% url 'publications-by-year' %}"></canvas>
    </div>
    <strong>Total Publications:</strong> <span id="pubs-total">0</span>
  </div>
</div>
<!-- End Publications -->
{% endif %}

{% if settings.RESEARCH_OUTPUT_ENABLE %}
<!-- Start  Research Outputs -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper" aria-hidden="true"></i> User Entered Research Outputs
  </div>
  <div class="card-body">
    <strong>Total:</strong> {{research_outputs_count}}
  </div>
</div>
<!-- End Research Outputs -->
{% endif %}

{% if settings.GRANT_ENABLE %}
<!-- Start  Grants -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-trophy" aria-hidden="true"></i> User Grants Summary
  </div>
  <div class="card-body">
    <div class="chart-container mx-auto" style="width:60%;">
        <canvas id="grant-summary-chart" data-url="{% url 'grant-summary-data' %}"></canvas>
    </div>
    <hr>
    <strong> Grants Total:</strong> ${{grant_total}} <br>
    <strong> Grants Total PI Only:</strong> ${{grant_total_pi_only}} <br>
    <strong> Grants Total CoPI Only:</strong> ${{grant_total_copi_only}} <br>
    <strong> Grants Total Senior Personnel Only:</strong> ${{grant_total_sp_only}}
  </div>
</div>
<!-- End Grants -->
{% endif %}

<!-- Start Allocation Charts -->
<h2 class="visually-hidden">Allocation Overview</h2>
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-trophy"></i> Resources and Allocations Summary
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="chart-container mx-auto" style="width:60%;">
          <canvas id="allocation-summary-chart" data-url="{% url 'portal-allocation-status' %}"></canvas>
        </div>
        <div class="chart-container mx-auto" style="width:60%;">
          <canvas id="resource-summary-chart" data-url="{% url 'portal-resource-type' %}"></canvas>
        </div>
      </div>
      <div
        id="allocation-summary"
        class="col"
        hx-get="{% url 'allocation-summary' %}"
        hx-trigger="load"
        aria-live="polite"
        aria-atomic="true"
        aria-busy="true"
      >
        <div class="text-center">
          <button type="button" class="btn btn-primary">
            <i class="fas fa-sync fa-spin fa-fw" aria-hidden="true"></i>
            Getting Data <span class="visually-hidden">...</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Allocation Charts -->

<!-- Start Project Charts -->
<h2 class="visually-hidden">Project Overview</h2>
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white" role="heading" aria-level="3">
    <i class="fas fa-trophy"></i> Project Summary
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="chart-container mx-auto" style="width:60%;">
          <canvas id="project-type-summary-chart" data-url="{% url 'portal-project-type' %}"></canvas>
        </div>
      </div>
      <div class="col">
        <div class="chart-container mx-auto" style="width:60%;">
          <canvas id="project-user-summary-chart" data-url="{% url 'portal-project-user' %}"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Project Charts -->

<!-- Start User Charts-->
<h2 id="user-summary-header" class="visually-hidden">User Overview</h2>
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white" role="heading" aria-level="3">
    <i class="fas fa-trophy"></i> User Summary
  </div>
  <div class="row">
    <div class="col">
      <div class="chart-container mx-auto">
        <canvas id="users-by-active-chart" data-url="{% url 'portal-users-by-active' %}"></canvas>
      </div>
    </div>
    <div class="col">
      <div class="chart-container mx-auto">
        <canvas id="users-by-year-chart" data-url="{% url 'portal-users-by-year' %}"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- End User Charts -->
{% endblock %}
